<h1>Welcome to the KIEI-925 Casino!</h1>
<p> 
<% 
numbers = [2,3,4,5,6,7,8,9,10,"jack", "queen", "king", "ace"] 
suit = ["diamonds", "clubs", "spades", "hearts"]
%>
<img src="http://golearntocode.com/images/cards/<%=numbers.sample%>_of_<%=suit.sample%>.png" HEIGHT="300">
<img src="http://golearntocode.com/images/cards/<%=numbers.sample%>_of_<%=suit.sample%>.png" HEIGHT="300">
<img src="http://golearntocode.com/images/cards/<%=numbers.sample%>_of_<%=suit.sample%>.png" HEIGHT="300">
<img src="http://golearntocode.com/images/cards/<%=numbers.sample%>_of_<%=suit.sample%>.png" HEIGHT="300">
<img src="http://golearntocode.com/images/cards/<%=numbers.sample%>_of_<%=suit.sample%>.png" HEIGHT="300">
</p>
<!-- Deal the cards here -->
